" Specify a directory for plugins
" - For Neovim: ~/.local/share/nvim/plugged
" - Avoid using standard Vim directory names like 'plugin'
call plug#begin('~/.vim/plugged')

" Neovim
Plug 'ctrlpvim/ctrlp.vim'
Plug 'Shougo/deoplete.nvim'
Plug 'mileszs/ack.vim'

" JS Linting
Plug 'w0rp/ale'

" JS editorconfig
Plug 'editorconfig/editorconfig-vim'

" JS compilation
Plug 'ternjs/tern_for_vim', { 'do': 'npm install' }
Plug 'carlitux/deoplete-ternjs', { 'do': 'npm install -g tern' }

" Git status in gutter
Plug 'airblade/vim-gitgutter'

" Js syntax highlighting
Plug 'othree/es.next.syntax.vim'
Plug 'othree/yajs.vim'

" nvim color schemes
Plug 'rafi/awesome-vim-colorschemes'

" Initialize plugin system
call plug#end()

" True color support
set termguicolors

colorscheme gruvbox
set background=dark

set cindent
set autoindent              " auto-indent
set tabstop=2               " tab spacing
set softtabstop=2           " unify
set shiftwidth=2            " indent/outdent by 2 columns
set shiftround              " always indent/outdent to the nearest tabstop
set expandtab               " use spaces instead of tabs
set smarttab                " use tabs at the start of a line, spaces elsewherei
set nowrap

set autoread                " auto-reload files changed on disk
set updatecount=0           " disable swap files
set nobackup
set noswapfile

set grepprg=ack\ -a         " use ack when searching with :grep
set hlsearch                " highlight all results
set incsearch               " but do highlight as you type your search.
set ignorecase              " make searches case-insensitive...
set smartcase               " ... unless they contain at least one capital letter
set gdefault                " have :s///g flag by default on"

set inccommand=nosplit
set clipboard=unnamed

set wildignorecase

" Don't lose selection when shifting left or right
xnoremap <  <gv
xnoremap >  >gv

" Disable arrow keys
inoremap  <Up>     <NOP>
inoremap  <Down>   <NOP>
inoremap  <Left>   <NOP>
inoremap  <Right>  <NOP>
noremap   <Up>     <NOP>
noremap   <Down>   <NOP>
noremap   <Left>   <NOP>
noremap   <Right>  <NOP>

" Pressing ESC removes highlighting
nnoremap <esc> :noh<return><esc>

" Trim trailing whitespace on save
autocmd BufWritePre * :%s/\s\+$//e

let g:ctrlp_map = '<c-p>'
let g:ctrlp_cmd = 'CtrlP'

let g:netrw_localrmdir="rm -r" " Allow removal of directories that aren't empty
